<div{{attributes}}>
  <div id="heder-info" style="background-image: url({{ file_url(content.field_background_image['#items'].entity.uri.value)}});">
    <div id="title">
      {% if content.body is not empty %}
        <article>
          {{ content.body }}
        </article>
      {% endif %}
    </div>
    <div>
      {% if content.field_button[0]['#url'] %}
        <a href="{{ content.field_button[0]['#url'] }}" class="button">{{ content.field_button[0]['#title'] }}</a>
      {% endif %}
    </div>
  </div>
</div>
